body {
  margin: 0px;
  padding: 0px;
  background-color: orangered; }

.navegador {
  background-color: black;
  padding: 2em;
  font-size: 1em; }

.banner_carrusel {
  width: 80%;
  margin: auto;
  margin-top: 2em; }

.tresimagenes {
  display: flex;
  margin: 3em;
  flex-direction: row;
  align-content: space-around;
  margin-left: 5em; }

.card-text {
  font-family: 'Courier New', Courier, monospace;
  text-align: center; }

footer {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace; }

.card2 {
  height: 30rem;
  margin-top: 2em;
  border: 2px solid black;
  background-color: whitesmoke;
  margin: auto; }

h1 {
  text-align: center;
  text-decoration: underline;
  color: whitesmoke;
  margin: 1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

h4 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  text-decoration: underline; }

.banner2 {
  width: 80%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 3em; }

.card1 {
  margin-left: 10em;
  max-height: 10em; }

.imagenfrente {
  background-color: white;
  width: 80%;
  margin-left: 10em;
  margin-bottom: 3em;
  padding: 1em;
  border: 2px solid black; }

.parrafo1 {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  text-align: justify;
  margin: 2em;
  padding: 0.5em; }

.parrafo2 {
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  text-align: justify;
  margin: 2em;
  padding: 0.5em; }

.parrafo3 {
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  text-align: justify;
  margin: 2em;
  padding: 0.5em; }

h5 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
  text-transform: uppercase; }

.Pcgamerbanner {
  width: 70%;
  margin: 0 auto;
  margin-top: 2em;
  margin-bottom: 3em; }

.card {
  width: 25em;
  height: 20em;
  margin-left: 2em;
  border: 2px solid blueviolet;
  margin-bottom: 3em;
  text-align: justify; }

.card-img-top3 {
  width: 15em;
  height: auto;
  margin: auto; }

.card-img-top {
  width: 15em;
  height: auto;
  margin: auto; }

.card-img-top2 {
  height: 15em;
  margin-left: 1em; }

.imagenesdeproductos {
  display: inline;
  width: 5em; }

.card-img-top4 {
  width: 15em;
  height: auto;
  margin: 0.5em; }

.cardproductos {
  width: 18em;
  height: 23em;
  margin-left: 5em;
  margin-right: 10em;
  border: 5px solid darkslateblue;
  border-radius: 10px;
  margin-bottom: 3em;
  background-color: white; }

.boton {
  margin-left: 5em;
  margin-top: 1em; }

.formulario {
  margin: 5em;
  width: 80%;
  height: 20em;
  color: white; }

.boton2 {
  margin-top: 1em; }

#exampleFormControlTextarea1 {
  height: 20em; }

.footcontacto {
  margin-top: 13em; }
